<div class="container">
	<div class="shell">
		<div class="_breadcrumbs">		
	<span><span><a href="/">Accueil</a> &nbsp; <i class="ico-gray-small-arrow-right"></i> &nbsp; <span class="breadcrumb_last" aria-current="page">Phototh&egrave;que</span></span></span>	<div style="padding-bottom: 20px;"></div>
</div>

		
		<div class="main main-secondary">
			


<%=render "sidebarphoto"%>
			<div class="content">			
				<section class="section">
					<h2 class="main-title">
						<span>Albums photos</span>
					</h2>
					
					<div class="gallery">

						
<%=render collection: @albums, as: :album,partial:"mediatheque/album"%>

					</div>
				</section><!-- /.section -->
			</div><!-- /.content -->
		</div><!-- /.main -->
	</div><!-- /.shell -->
</div><!-- /.container -->

