<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="fr-FR"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="fr-FR"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="fr-FR"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="fr-FR"> <!--<![endif]-->
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <title>Site officiel de la Ville de Kourou</title>
  
  <link rel="shortcut icon" type="image/x-icon" href="/css/images/favicon.ico" />

  <!-- App Styles -->
  <link rel="stylesheet" href="https://www.ville-kourou.fr/css/fonts.css" />
  <link rel="stylesheet" href="https://www.ville-kourou.fr/js/vendor/slick-1.6.0/slick-1.6.0/slick/slick.css" />
  <link rel="stylesheet" href="https://www.ville-kourou.fr/js/vendor/Magnific-Popup-master/Magnific-Popup-master/dist/magnific-popup.css" />
  <link rel="stylesheet" href="https://www.ville-kourou.fr/css/style.css" />

  <!-- Vendor JS -->
  <script src="https://www.ville-kourou.fr/js/jquery-1.11.0.min.js"></script>
  <script src="https://www.ville-kourou.fr/js/vendor/Magnific-Popup-master/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="https://www.ville-kourou.fr/js/vendor/slick-1.6.0/slick-1.6.0/slick/slick.js"></script>

  <!-- App JS -->
  <script src="https://www.ville-kourou.fr/js/functions.js"></script>
  
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100561005-1', 'auto');
    ga('send', 'pageview');
  </script>

  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

	<!-- This site is optimized with the Yoast SEO plugin v19.6.1 - https://yoast.com/wordpress/plugins/seo/ -->
	<meta name="description" content="Le site officiel de la ville de Kourou en Guyane informe sur l&#039;agenda, les services et démarches, les établissements scolaires et les infos pratiques." />
	<link rel="canonical" href="https://www.ville-kourou.fr/" />
	<meta property="og:locale" content="fr_FR" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Site officiel de la Ville de Kourou" />
	<meta property="og:description" content="Le site officiel de la ville de Kourou en Guyane informe sur l&#039;agenda, les services et démarches, les établissements scolaires et les infos pratiques." />
	<meta property="og:url" content="https://www.ville-kourou.fr/" />
	<meta property="og:site_name" content="Ville de Kourou" />
	<meta property="article:modified_time" content="2017-09-03T16:41:12+00:00" />
	<meta property="og:image" content="https://www.ville-kourou.fr/wp-content/uploads/2017/08/GabaritFacebook-referenceCC2017-KOUROU-3.png" />
	<meta property="og:image:width" content="1200" />
	<meta property="og:image:height" content="628" />
	<meta property="og:image:type" content="image/png" />
	<script type="application/ld+json" class="yoast-schema-graph">{"@context":"https://schema.org","@graph":[{"@type":"WebPage","@id":"https://www.ville-kourou.fr/","url":"https://www.ville-kourou.fr/","name":"Site officiel de la Ville de Kourou","isPartOf":{"@id":"https://www.ville-kourou.fr/#website"},"datePublished":"2013-11-25T11:44:21+00:00","dateModified":"2017-09-03T16:41:12+00:00","description":"Le site officiel de la ville de Kourou en Guyane informe sur l'agenda, les services et démarches, les établissements scolaires et les infos pratiques.","breadcrumb":{"@id":"https://www.ville-kourou.fr/#breadcrumb"},"inLanguage":"fr-FR","potentialAction":[{"@type":"ReadAction","target":["https://www.ville-kourou.fr/"]}]},{"@type":"BreadcrumbList","@id":"https://www.ville-kourou.fr/#breadcrumb","itemListElement":[{"@type":"ListItem","position":1,"name":"Accueil"}]},{"@type":"WebSite","@id":"https://www.ville-kourou.fr/#website","url":"https://www.ville-kourou.fr/","name":"Ville de Kourou","description":"Site officiel de la ville de Kourou : agenda, démarches, infos pratiques, etc.","potentialAction":[{"@type":"SearchAction","target":{"@type":"EntryPoint","urlTemplate":"https://www.ville-kourou.fr/?s={search_term_string}"},"query-input":"required name=search_term_string"}],"inLanguage":"fr-FR"}]}</script>
	<!-- / Yoast SEO plugin. -->



<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 0.07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
	<link rel='stylesheet' id='wp-block-library-css'  href='https://www.ville-kourou.fr/wp-includes/css/dist/block-library/style.min.css?ver=6.0.2' type='text/css' media='all' />
<style id='global-styles-inline-css' type='text/css'>
body{--wp--preset--color--black: #000000;--wp--preset--color--cyan-bluish-gray: #abb8c3;--wp--preset--color--white: #ffffff;--wp--preset--color--pale-pink: #f78da7;--wp--preset--color--vivid-red: #cf2e2e;--wp--preset--color--luminous-vivid-orange: #ff6900;--wp--preset--color--luminous-vivid-amber: #fcb900;--wp--preset--color--light-green-cyan: #7bdcb5;--wp--preset--color--vivid-green-cyan: #00d084;--wp--preset--color--pale-cyan-blue: #8ed1fc;--wp--preset--color--vivid-cyan-blue: #0693e3;--wp--preset--color--vivid-purple: #9b51e0;--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgba(6,147,227,1) 0%,rgb(155,81,224) 100%);--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgba(252,185,0,1) 0%,rgba(255,105,0,1) 100%);--wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgba(255,105,0,1) 0%,rgb(207,46,46) 100%);--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);--wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);--wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);--wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);--wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);--wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);--wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);--wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);--wp--preset--duotone--dark-grayscale: url('#wp-duotone-dark-grayscale');--wp--preset--duotone--grayscale: url('#wp-duotone-grayscale');--wp--preset--duotone--purple-yellow: url('#wp-duotone-purple-yellow');--wp--preset--duotone--blue-red: url('#wp-duotone-blue-red');--wp--preset--duotone--midnight: url('#wp-duotone-midnight');--wp--preset--duotone--magenta-yellow: url('#wp-duotone-magenta-yellow');--wp--preset--duotone--purple-green: url('#wp-duotone-purple-green');--wp--preset--duotone--blue-orange: url('#wp-duotone-blue-orange');--wp--preset--font-size--small: 13px;--wp--preset--font-size--medium: 20px;--wp--preset--font-size--large: 36px;--wp--preset--font-size--x-large: 42px;}.has-black-color{color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-color{color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-color{color: var(--wp--preset--color--white) !important;}.has-pale-pink-color{color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-color{color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-color{color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-color{color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-color{color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-color{color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-color{color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-color{color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-color{color: var(--wp--preset--color--vivid-purple) !important;}.has-black-background-color{background-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-background-color{background-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-background-color{background-color: var(--wp--preset--color--white) !important;}.has-pale-pink-background-color{background-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-background-color{background-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-background-color{background-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-background-color{background-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-background-color{background-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-background-color{background-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-background-color{background-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-background-color{background-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-background-color{background-color: var(--wp--preset--color--vivid-purple) !important;}.has-black-border-color{border-color: var(--wp--preset--color--black) !important;}.has-cyan-bluish-gray-border-color{border-color: var(--wp--preset--color--cyan-bluish-gray) !important;}.has-white-border-color{border-color: var(--wp--preset--color--white) !important;}.has-pale-pink-border-color{border-color: var(--wp--preset--color--pale-pink) !important;}.has-vivid-red-border-color{border-color: var(--wp--preset--color--vivid-red) !important;}.has-luminous-vivid-orange-border-color{border-color: var(--wp--preset--color--luminous-vivid-orange) !important;}.has-luminous-vivid-amber-border-color{border-color: var(--wp--preset--color--luminous-vivid-amber) !important;}.has-light-green-cyan-border-color{border-color: var(--wp--preset--color--light-green-cyan) !important;}.has-vivid-green-cyan-border-color{border-color: var(--wp--preset--color--vivid-green-cyan) !important;}.has-pale-cyan-blue-border-color{border-color: var(--wp--preset--color--pale-cyan-blue) !important;}.has-vivid-cyan-blue-border-color{border-color: var(--wp--preset--color--vivid-cyan-blue) !important;}.has-vivid-purple-border-color{border-color: var(--wp--preset--color--vivid-purple) !important;}.has-vivid-cyan-blue-to-vivid-purple-gradient-background{background: var(--wp--preset--gradient--vivid-cyan-blue-to-vivid-purple) !important;}.has-light-green-cyan-to-vivid-green-cyan-gradient-background{background: var(--wp--preset--gradient--light-green-cyan-to-vivid-green-cyan) !important;}.has-luminous-vivid-amber-to-luminous-vivid-orange-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange) !important;}.has-luminous-vivid-orange-to-vivid-red-gradient-background{background: var(--wp--preset--gradient--luminous-vivid-orange-to-vivid-red) !important;}.has-very-light-gray-to-cyan-bluish-gray-gradient-background{background: var(--wp--preset--gradient--very-light-gray-to-cyan-bluish-gray) !important;}.has-cool-to-warm-spectrum-gradient-background{background: var(--wp--preset--gradient--cool-to-warm-spectrum) !important;}.has-blush-light-purple-gradient-background{background: var(--wp--preset--gradient--blush-light-purple) !important;}.has-blush-bordeaux-gradient-background{background: var(--wp--preset--gradient--blush-bordeaux) !important;}.has-luminous-dusk-gradient-background{background: var(--wp--preset--gradient--luminous-dusk) !important;}.has-pale-ocean-gradient-background{background: var(--wp--preset--gradient--pale-ocean) !important;}.has-electric-grass-gradient-background{background: var(--wp--preset--gradient--electric-grass) !important;}.has-midnight-gradient-background{background: var(--wp--preset--gradient--midnight) !important;}.has-small-font-size{font-size: var(--wp--preset--font-size--small) !important;}.has-medium-font-size{font-size: var(--wp--preset--font-size--medium) !important;}.has-large-font-size{font-size: var(--wp--preset--font-size--large) !important;}.has-x-large-font-size{font-size: var(--wp--preset--font-size--x-large) !important;}
</style>
<link rel='stylesheet' id='wp-pagenavi-css'  href='https://www.ville-kourou.fr/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70' type='text/css' media='all' />
<link rel='stylesheet' id='wpgdprc-front-css-css'  href='https://www.ville-kourou.fr/wp-content/plugins/wp-gdpr-compliance/Assets/css/front.css?ver=1657711318' type='text/css' media='all' />
<style id='wpgdprc-front-css-inline-css' type='text/css'>
:root{--wp-gdpr--bar--background-color: #1b7c37;--wp-gdpr--bar--color: #ffffff;--wp-gdpr--button--background-color: #ffffff;--wp-gdpr--button--background-color--darken: #d8d8d8;--wp-gdpr--button--color: #1b7c37;}
</style>
<script type='text/javascript' id='wpgdprc-front-js-js-extra'>
/* <![CDATA[ */
var wpgdprcFront = {"ajaxUrl":"\/wp-admin\/admin-ajax.php","ajaxNonce":"d6eb42841b","ajaxArg":"security","pluginPrefix":"wpgdprc","blogId":"1","isMultiSite":"","locale":"fr_FR","showSignUpModal":"","showFormModal":"","cookieName":"wpgdprc-consent-3","consentVersion":"3","path":"\/","prefix":"wpgdprc","consents":[{"ID":2,"required":false,"placement":"body","content":"<script type=\"text\/javascript\"> <\/script>"},{"ID":1,"required":false,"placement":"body","content":"<script type=\"text\/javascript\">Enregistrement des donn\u00e9es sur Google Analytics<\/script>"}]};
/* ]]> */
</script>
<script type='text/javascript' src='https://www.ville-kourou.fr/wp-content/plugins/wp-gdpr-compliance/Assets/js/front.min.js?ver=1657711318' id='wpgdprc-front-js-js'></script>
<link rel="https://api.w.org/" href="https://www.ville-kourou.fr/wp-json/" /><link rel="alternate" type="application/json" href="https://www.ville-kourou.fr/wp-json/wp/v2/pages/25" /><link rel="alternate" type="application/json+oembed" href="https://www.ville-kourou.fr/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.ville-kourou.fr%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://www.ville-kourou.fr/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.ville-kourou.fr%2F&#038;format=xml" />
<meta name="generator" content="Site Kit by Google 1.82.0" />		<style type="text/css" id="wp-custom-css">
			.gform_button {
	   width: 200px !important;
	float:right;
    font-size: 16px !important;
    line-height: 18px !important;
    padding: 20px 0px !important;
    background-color: #1B7C37!important;
    border: none !important;
    color: white !important;
	border:none!important;
	 border-radius: 0px !important;
	cursor:pointer !important
} 

.gform_next_button , .gform_previous_button {
	width: 200px !important;
	float:left;
    font-size: 16px !important;
    line-height: 18px !important;
    padding: 20px 0px !important;
    background-color: #1B7C37 !important;
    border: none !important;
    color: white !important;
	border:none!important;
	 border-radius: 0px !important;
	cursor:pointer !important;
}

.gform_button:hover {
	  
border:none!important;	
}

.gfield_label {
    /*display: none !important;*/
	margin-top: 20px;
    margin-bottom: 0px;
    padding: 0px;
}


.ginput_container_text {
		margin-top: 0px !important;
}

.gform_fields input[type=text], input[type=email], textarea {
	    border-radius: 0px !important;
	border:1px solid #eee;
	font-size:14px;
}


.gform_fields input[type=text]::placeholder {
  color: blue;
 
}



.gform_fields select {
	    border-radius: 0px !important;
	padding: 9px 0px !important;
	color:#3e393d !important;
	border-color:rgb(230, 230, 230);
}


.gform_fields input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3e393d;
}
.gform_fields input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #3e393d;
}
.gform_fields input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #3e393d;
}
.gform_fields input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #3e393d;
}



.gform_fields textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #3e393d;
	border-color:rgb(230, 230, 230);
}
.gform_fields textarea::-moz-placeholder { /* Firefox 19+ */
  color: #3e393d;
}
.gform_fields textarea:-ms-input-placeholder { /* IE 10+ */
  color: #3e393d;
}
.gform_fields textarea:-moz-placeholder { /* Firefox 18- */
  color: #3e393d;
}


		</style>
		</head><body>

<header class="header">
	<div class="shell">
		<a href="https://www.ville-kourou.fr" class="logo">
			<img src="/css/images/temp/logo.png" height="141" width="286" alt="">
		</a>
		
		<a href="#" class="btn-burger">
			<span></span>
			<span></span>
			<span></span>
		</a>
		
		<div class="header-inner">
			<div class="header-bar">

				<div class="socials">
										<ul>
												<li>
							<a href="https://www.facebook.com/ville.kourou/" target="_blank">
								<img src="https://www.ville-kourou.fr/wp-content/uploads/2016/11/ico-facebook.png" height="28" width="28" alt="">
							</a>
						</li>
												<li>
							<a href="https://twitter.com/ville_Kourou" target="_blank">
								<img src="https://www.ville-kourou.fr/wp-content/uploads/2016/11/ico-twitter.png" height="28" width="28" alt="">
							</a>
						</li>
												<li>
							<a href="https://www.youtube.com/channel/UCAaagqHfdYwsZzE-Ha_VBsQ" target="_blank">
								<img src="https://www.ville-kourou.fr/wp-content/uploads/2016/11/ico-youtube.png" height="28" width="28" alt="">
							</a>
						</li>
												<li>
							<a href="https://www.instagram.com/ville_de_kourou/" target="_blank">
								<img src="https://www.ville-kourou.fr/wp-content/uploads/2018/10/insta_icon_29x29.jpg" height="28" width="28" alt="">
							</a>
						</li>
											</ul>
					
				</div>
				<!-- /.socials -->
			
				<nav class="nav-utilities">			
										<ul>
												<li>
							<a href="https://www.lachainemeteo.com/meteo-france/region-823/previsions-meteo-guyane-mardi" target="_blank">Météo</a>
						</li>
												<li>
							<a href="http://www.ora-guyane.org/" target="_blank">Qualité de l'air</a>
						</li>
												<li>
							<a href="https://www.ville-kourou.fr/actualites/" target="_blank">Actualités</a>
						</li>
											 </ul>
				</nav>
				<!-- /.nav-utilities -->
			
				<div class="widget_search">
					<form action="/" id="searchform" class="search-form" method="get" role="search">
	<label>
		<span class="screen-reader-text">Rechercher:</span>

		<input type="search" title="Rechercher:" name="s"  value="" placeholder="Recherche sur le site..." class="search-field">
	</label>
	<input type="submit" value="Search" class="search-submit screen-reader-text">
</form>				
				</div>
				<!-- /.widget_search -->

			</div>
			<!-- /.header-bar -->
		  
			<div class="header-content">
				<nav class="nav">
										<ul class="menu">
											 	<li><a href="#">La Mairie</a>
													<ul class="sub-menu">
															<li><a href="#"><i class="ico-small-green-arrow-right"></i> Le Conseil Municipal</a>
																	<ul class="sub-menu">
																			<li><a href="https://www.ville-kourou.fr/la-mairie/trombinoscope-des-elus/"><i class="ico-small-green-arrow-right"></i> Le trombinoscope des élus</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/la-mairie/les-reunions-delus/"><i class="ico-small-green-arrow-right"></i> Les réunions d’Élus</a>
																			  	</li>
																	  	</ul>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/la-mairie/communiques/"><i class="ico-small-green-arrow-right"></i> Communiqués du Maire</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/infos-pratiques/arretes-reglementation/"><i class="ico-small-green-arrow-right"></i> Arrêtés municipaux - Réglementation</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/la-mairie/nos-projets-2017/"><i class="ico-small-green-arrow-right"></i> Nos projets 2018-2022</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/annuaire-des-services/"><i class="ico-small-green-arrow-right"></i> Annuaire des services</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/la-mairie/service-population/"><i class="ico-small-green-arrow-right"></i> État civil et démarches</a>
																	<ul class="sub-menu">
																			<li><a href="https://www.ville-kourou.fr/la-mairie/service-population/delivrance-dactes-civils/"><i class="ico-small-green-arrow-right"></i> Délivrance d'actes civils</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/la-mairie/service-population/pieces-identite/"><i class="ico-small-green-arrow-right"></i> Pièces d’identité</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/la-mairie/service-population/elections-et-recensement/"><i class="ico-small-green-arrow-right"></i> Élections et recensement</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/la-mairie/service-population/cartes-grises-autres-demarches/"><i class="ico-small-green-arrow-right"></i> Cartes grises et autres démarches</a>
																			  	</li>
																	  	</ul>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/la-mairie/foncier-et-fiscalite/"><i class="ico-small-green-arrow-right"></i> Foncier et fiscalité</a>
															  	</li>
															<li><a href="#"><i class="ico-small-green-arrow-right"></i> Vie associative</a>
																	<ul class="sub-menu">
																			<li><a href="https://www.ville-kourou.fr/dans-ma-ville/service-vie-associative/"><i class="ico-small-green-arrow-right"></i> Le service municipal</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/dans-ma-ville/demandes-de-subvention/"><i class="ico-small-green-arrow-right"></i> Les appels à projets</a>
																			  	</li>
																			<li><a href="http://www.guyanasso.org/"><i class="ico-small-green-arrow-right"></i> L'Aprosep</a>
																			  	</li>
																	  	</ul>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/dans-ma-ville/identite-visuelle-de-kourou/"><i class="ico-small-green-arrow-right"></i> Identité visuelle de Kourou</a>
															  	</li>
														</ul>
												</li>
											 	<li><a href="#">Politique de la ville</a>
													<ul class="sub-menu">
															<li><a href="https://www.ville-kourou.fr/annuaire-des-associations/"><i class="ico-small-green-arrow-right"></i> Annuaire des associations</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/maison-de-quartier-europe-eldo/"><i class="ico-small-green-arrow-right"></i> Maisons de quartier</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/appels-a-projet/"><i class="ico-small-green-arrow-right"></i> Appel à projets</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/contacts/"><i class="ico-small-green-arrow-right"></i> Contacts</a>
															  	</li>
														</ul>
												</li>
											 	<li><a href="#">Urbanisme</a>
													<ul class="sub-menu">
															<li><a href="https://www.ville-kourou.fr/urbanisme/plan-local-durbanisme/"><i class="ico-small-green-arrow-right"></i> Plan Local d’Urbanisme</a>
																	<ul class="sub-menu">
																			<li><a href="https://www.ville-kourou.fr/urbanisme/plan-local-durbanisme/rapport-de-presentation/"><i class="ico-small-green-arrow-right"></i> Rapport de présentation</a>
																					<ul class="sub-menu">
																							<li><a href="https://www.ville-kourou.fr/urbanisme/plan-local-durbanisme/rapport-de-presentation/diagnostic/"><i class="ico-small-green-arrow-right"></i> Diagnostic</a></li>
																							<li><a href="https://www.ville-kourou.fr/etat-initial-de-lenvironnement/"><i class="ico-small-green-arrow-right"></i> Etat initial de l’environnement</a></li>
																							<li><a href="https://www.ville-kourou.fr/justification-et-evaluation-environnementale/"><i class="ico-small-green-arrow-right"></i> Justification et évaluation environnementale</a></li>
																					   </ul>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/padd/"><i class="ico-small-green-arrow-right"></i> PADD</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/oap-2/"><i class="ico-small-green-arrow-right"></i> OAP</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/zonage-et-reglement/"><i class="ico-small-green-arrow-right"></i> Zonage et règlement</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/annexes/"><i class="ico-small-green-arrow-right"></i> Annexes</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/deliberations-et-arretes/"><i class="ico-small-green-arrow-right"></i> Délibérations et arrêtés</a>
																			  	</li>
																	  	</ul>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/autorisation-durbanisme/"><i class="ico-small-green-arrow-right"></i> Autorisation d’urbanisme</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/infos-procedure-durbanisme/"><i class="ico-small-green-arrow-right"></i> Infos procédure d'urbanisme</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/declaration-de-projet/"><i class="ico-small-green-arrow-right"></i> Déclaration de projet</a>
																	<ul class="sub-menu">
																			<li><a href="https://www.ville-kourou.fr/creation-dune-isdnd-a-wayabo/"><i class="ico-small-green-arrow-right"></i> Création d’une ISDND à Wayabo</a>
																			  	</li>
																	  	</ul>
															  	</li>
														</ul>
												</li>
											 	<li><a href="#">Éducation</a>
													<ul class="sub-menu">
															<li><a href="https://www.ville-kourou.fr/agenda-type/jeunesse/"><i class="ico-small-green-arrow-right"></i> Agenda jeunesse</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/petite-enfance/"><i class="ico-small-green-arrow-right"></i> Petite enfance</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/education/scolarite/ecoles-maternelles/"><i class="ico-small-green-arrow-right"></i> Écoles maternelles</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/education/scolarite/ecoles-elementaires/"><i class="ico-small-green-arrow-right"></i> Écoles élémentaires</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/education/programme-de-reussite-educative/"><i class="ico-small-green-arrow-right"></i> Programme de Réussite Éducative</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/paiement-en-ligne-de-la-cantine-scolaire/"><i class="ico-small-green-arrow-right"></i> Payer la cantine scolaire</a>
															  	</li>
														</ul>
												</li>
											 	<li><a href="#">Culture</a>
													<ul class="sub-menu">
															<li><a href="https://www.ville-kourou.fr/agenda-type/culture/"><i class="ico-small-green-arrow-right"></i> Agenda culturel</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/culture/pole-culturel/"><i class="ico-small-green-arrow-right"></i> Pôle Culturel</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/culture/ecole-municipale-de-musique-de-kourou/"><i class="ico-small-green-arrow-right"></i> École municipale de musique et danse</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/culture/centre-archeologie-amerindienne-de-kourou-caak/"><i class="ico-small-green-arrow-right"></i> Centre d’Archéologie Amérindienne</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/infos-pratiques/je-cherche-lieu-evenement/"><i class="ico-small-green-arrow-right"></i> Prêt de salles</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/annuaire-associations-de-kourou/"><i class="ico-small-green-arrow-right"></i> Annuaire des associations</a>
															  	</li>
														</ul>
												</li>
											 	<li><a href="#">Sports</a>
													<ul class="sub-menu">
															<li><a href="https://www.ville-kourou.fr/sports/faire-sport-a-kourou/centre-nautique-municipal/"><i class="ico-small-green-arrow-right"></i> Centre nautique</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/agenda-type/sport/"><i class="ico-small-green-arrow-right"></i> Agenda sportif</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/sports/faire-sport-a-kourou/complexe-omnisports/"><i class="ico-small-green-arrow-right"></i> Service des sports</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/sports/grands-rassemblements/"><i class="ico-small-green-arrow-right"></i> Grands rassemblements sportifs et culturels</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/sports/plaine-de-jeux/"><i class="ico-small-green-arrow-right"></i> Plaine de jeux</a>
																	<ul class="sub-menu">
																			<li><a href="https://www.ville-kourou.fr/sports/faire-sport-a-kourou/complexe-omnisports/"><i class="ico-small-green-arrow-right"></i> Complexe omnisports</a>
																			  	</li>
																			<li><a href="https://www.ville-kourou.fr/sports/faire-sport-a-kourou/stade-municipal-bois-chaudat/"><i class="ico-small-green-arrow-right"></i> Stade Bois Chaudat</a>
																			  	</li>
																	  	</ul>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/sports/lieux-de-baignade/"><i class="ico-small-green-arrow-right"></i> Lieux de baignade</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/annuaire-associations-de-kourou/"><i class="ico-small-green-arrow-right"></i> Annuaire des associations</a>
															  	</li>
														</ul>
												</li>
											 	<li><a href="#">Partenaires</a>
													<ul class="sub-menu">
															<li><a href="http://www.ccdsguyane.fr/dechets"><i class="ico-small-green-arrow-right"></i> LA CCDS</a>
																	<ul class="sub-menu">
																			<li><a href="https://www.ville-kourou.fr/agenda-type/ccds/"><i class="ico-small-green-arrow-right"></i> Actualités</a>
																			  	</li>
																	  	</ul>
															  	</li>
															<li><a href="https://www.facebook.com/CCDSavanes"><i class="ico-small-green-arrow-right"></i> Page facebook</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/association-des-maires-de-guyane/"><i class="ico-small-green-arrow-right"></i> L'ASSO DES MAIRES</a>
															  	</li>
															<li><a href="https://www.ctguyane.fr/"><i class="ico-small-green-arrow-right"></i> LA CTG</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/partenariats/jumelages/"><i class="ico-small-green-arrow-right"></i> LES VILLES JUMELÉES</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/partenariats/partenaires-institutionnels/"><i class="ico-small-green-arrow-right"></i> LES INSTITUTIONS</a>
															  	</li>
															<li><a href="http://www.ariane-cities.com/fr/content/cva-partenariat-ville%E2%80%93lanceur-lancement-dariane-5-parrain%C3%A9-par-la-ville-de-toulouse"><i class="ico-small-green-arrow-right"></i> LES VILLES ARIANE</a>
															  	</li>
															<li><a href="https://www.ville-kourou.fr/la-dieccte/"><i class="ico-small-green-arrow-right"></i> LA DEETS</a>
															  	</li>
														</ul>
												</li>
											</ul>
					<!-- /.menu -->
				</nav>
				<!-- /.nav -->
			</div>
			<!-- /.header-content -->
		</div>
		<!-- /.header-inner -->
	</div>
	<!-- /.shell -->
</header>
<%=yield%>

<footer class="footer">
	<div class="shell">
		<div class="cols">
			<div class="col col-size3">
				<ul class="list-info">
					<li>
						<h3>Mairie de Kourou</h3>
						
						<address class="address">							
							<span>
																	<p><a href="https://www.ville-kourou.fr/wp-content/uploads/2017/08/WhatsApp-Image-2017-08-31-at-11.45.10.jpeg"><img loading="lazy" class="wp-image-1549 alignleft" src="https://www.ville-kourou.fr/wp-content/uploads/2017/08/WhatsApp-Image-2017-08-31-at-11.45.10.jpeg" alt="" width="193" height="117" srcset="https://www.ville-kourou.fr/wp-content/uploads/2017/08/WhatsApp-Image-2017-08-31-at-11.45.10.jpeg 1024w, https://www.ville-kourou.fr/wp-content/uploads/2017/08/WhatsApp-Image-2017-08-31-at-11.45.10-300x182.jpeg 300w, https://www.ville-kourou.fr/wp-content/uploads/2017/08/WhatsApp-Image-2017-08-31-at-11.45.10-768x466.jpeg 768w, https://www.ville-kourou.fr/wp-content/uploads/2017/08/WhatsApp-Image-2017-08-31-at-11.45.10-600x364.jpeg 600w" sizes="(max-width: 193px) 100vw, 193px" /></a></p>
						
															</span>
						</address>						
					</li>
					
					<li>
						<h3>Contact</h3>

													<p>30, avenue des Roches</p>
<p>97310 Kourou</p>
<p>Accueil de la Mairie : 05 94 22 31 31<br />
Secrétariat du Maire : 0594 22 31 35<br />
Secrétariat des Élus : 0594 22 32 19</p>
<p>&nbsp;</p>
<p><a href="https://www.ville-kourou.fr/mentions-legales/">Mentions légales</a></p>
							
											</li>
				</ul><!-- /.list-info -->
			</div><!-- /.col col-size3 -->
			
			<div class="col col-size4">
				
									<h3>La Mairie</h3>
					
										<nav class="footer-nav">
						<ul class="list-links">
										
								<li><a href="https://www.ville-kourou.fr/la-mairie/trombinoscope-des-elus/">Conseil municipal</a></li>
										
								<li><a href="https://www.ville-kourou.fr/annuaire-des-services/">Annuaire des services</a></li>
										
								<li><a href="https://www.ville-kourou.fr/lhotel-de-ville/">Horaires d'accueil</a></li>
										
								<li><a href="https://www.ville-kourou.fr/agenda-type/vie-municipale/">Vie municipale</a></li>
										
								<li><a href="https://www.ville-kourou.fr/la-mairie/communiques/">Communiqués du Maire</a></li>
										
								<li><a href="https://www.ville-kourou.fr/la-mairie/nos-projets-2017/">Nos projets 2018-2022</a></li>
										
								<li><a href="https://www.ville-kourou.fr/la-mairie/service-population/delivrance-dactes-civils/">Délivrance d'actes civils</a></li>
										
								<li><a href="https://www.ville-kourou.fr/la-mairie/foncier-et-fiscalite/">Foncier et fiscalité</a></li>
										
								<li><a href="https://www.ville-kourou.fr/dans-ma-ville/identite-visuelle-de-kourou/">Identité visuelle de Kourou</a></li>
													</ul>
					</nav>
							
							</div>
			
			<div class="col col-size5">
				
									<h3>Dans ma ville</h3>
					
										<nav class="footer-nav">
						<ul class="list-links">
										
								<li><a href="https://www.ville-kourou.fr/dans-ma-ville/allo-kourou/">Allô Kourou</a></li>
										
								<li><a href="https://www.ville-kourou.fr/annuaire-des-services/">Annuaire des services</a></li>
										
								<li><a href="https://www.ville-kourou.fr/dans-ma-ville/service-vie-associative/">Vie Associative</a></li>
										
								<li><a href="http://cmck-kourou.croix-rouge.fr/cmck/">Hôpital de Kourou (CHK)</a></li>
										
								<li><a href="https://www.ville-kourou.fr/dans-ma-ville/sante/pharmacies/">Pharmacies</a></li>
										
								<li><a href="http://https://www.guyane.ars.sante.fr/">Conseils épidémies</a></li>
										
								<li><a href="https://www.ville-kourou.fr/petite-enfance/">Les structures d&#8217;accueil de la petite enfance</a></li>
										
								<li><a href="https://www.ville-kourou.fr/education/scolarite/ecoles-maternelles/">Écoles maternelles</a></li>
										
								<li><a href="https://www.ville-kourou.fr/education/scolarite/ecoles-elementaires/">Écoles élémentaires</a></li>
													</ul>
					</nav>
							
							</div>
			
			<div class="col col-size6">
				
									<h3>Infos pratiques</h3>
					
										<nav class="footer-nav">
						<ul class="list-links">
										
								<li><a href="https://www.ville-kourou.fr/agenda/">Sortir à Kourou</a></li>
										
								<li><a href="https://www.ville-kourou.fr/infos-pratiques/marches/">Faire son marché</a></li>
										
								<li><a href="https://www.ville-kourou.fr/infos-pratiques/numeros-utiles/">Numéros utiles</a></li>
										
								<li><a href="https://www.ville-kourou.fr/infos-pratiques/arretes-reglementation/">Numéros d'urgence</a></li>
										
								<li><a href="https://www.ville-kourou.fr/wp-content/uploads/2017/01/ZONE-DE-COLLECTE-KOUROU_RECTO.pdf">Collecte des déchets</a></li>
										
								<li><a href="https://www.ville-kourou.fr/sports/equipements-sportifs/">Équipements sportifs</a></li>
										
								<li><a href="https://www.ville-kourou.fr/sports/plaine-de-jeux/">La plaine de jeux</a></li>
										
								<li><a href="https://www.ville-kourou.fr/sports/lieux-de-baignade/">Lieux de baignade</a></li>
										
								<li><a href="https://www.ville-kourou.fr/culture/centre-archeologie-amerindienne-de-kourou-caak/">CAAK</a></li>
										
								<li><a href="https://www.ville-kourou.fr/culture/ecole-municipale-de-musique-de-kourou/">École de musique</a></li>
										
								<li><a href="https://www.ville-kourou.fr/infos-pratiques/je-cherche-lieu-evenement/">Prêt de salles</a></li>
										
								<li><a href="https://www.la-spa.fr/kourou">SPA</a></li>
													</ul>
					</nav>
							
							</div>
		</div>
		<!-- /.cols -->
		
		<div class="credits">
			<a href="//cote-cube.fr" target="_blank">Site internet réalisé par Côté Cube</a> <sup class="sup"><img src="/css/images/temp/logo-cube.png" alt="" width="16" height="18"></sup>
		</div><!-- /.credits -->
	</div><!-- /.shell -->
</footer><!-- /.footer -->
<div class="wpgdprc-consent-bar wpgdprc-consent-bar--position-bottom" style="display: none;">
	<div class="wpgdprc-consent-bar__inner">
		<div class="wpgdprc-consent-bar__container">
			<div class="wpgdprc-consent-bar__content">
				<div class="wpgdprc-consent-bar__column wpgdprc-consent-bar__column--notice">
					<div class="wpgdprc-consent-bar__notice"><p>Ce site utilise des cookies fonctionnels et des scripts externes pour améliorer votre expérience.</p>
</div>
				</div>
				<div class="wpgdprc-consent-bar__column wpgdprc-consent-bar__column--settings">
					<button type="button" class="wpgdprc-button wpgdprc-button--settings"
							data-micromodal-trigger="wpgdprc-consent-modal"
							aria-expanded="false"
							aria-haspopup="true"
					>
						Mes réglages					</button>
				</div>
				<div class="wpgdprc-consent-bar__column wpgdprc-consent-bar__column--accept">
					<button type="button" class="wpgdprc-button wpgdprc-button--accept">
						Accepter					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script type='text/javascript' id='script-js-extra'>
/* <![CDATA[ */
var ajaxurl = "\/wp-admin\/admin-ajax.php";
/* ]]> */
</script>
<script type='text/javascript' src='https://www.ville-kourou.fr/wp-content/themes/cote-cube/ajax/script.js?ver=1.0' id='script-js'></script>

<div class="wpgdprc wpgdprc-consent-modal" id="wpgdprc-consent-modal" aria-hidden="true">
	<div class="wpgdprc-consent-modal__overlay" tabindex="-1" data-micromodal-close>
		<div class="wpgdprc-consent-modal__inner" role="dialog" aria-modal="true">
			<div class="wpgdprc-consent-modal__header">
				<p class="wpgdprc-consent-modal__title">Privacy settings</p>
				<button class="wpgdprc-consent-modal__close" aria-label="Close popup" data-micromodal-close>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z"/></svg>
				</button>
			</div>
            
<div class="wpgdprc-consent-modal__body">
	<nav class="wpgdprc-consent-modal__navigation">
		<ul class="wpgdprc-consent-modal__navigation-list">
			<li class="wpgdprc-consent-modal__navigation-item">
				<button class="wpgdprc-consent-modal__navigation-button wpgdprc-consent-modal__navigation-button--active" data-target="description">Paramètres de confidentialité</button>
			</li>
											<li>
					<button class="wpgdprc-consent-modal__navigation-button" data-target="2">Enregistrement de vos données personnelles</button>
				</li>
											<li>
					<button class="wpgdprc-consent-modal__navigation-button" data-target="1">Google Analytics</button>
				</li>
					</ul>
	</nav>

	<div class="wpgdprc-consent-modal__information">
		<div class="wpgdprc-consent-modal__description wpgdprc-consent-modal__description--active" data-target="description">
			<p class="wpgdprc-consent-modal__title wpgdprc-consent-modal__title--description">Paramètres de confidentialité</p>
			<div class="wpgdprc-content-modal__content">
				<p>Ce site utilise des cookies fonctionnels et des scripts externes pour améliorer votre expérience. Les cookies et les scripts utilisés et leur impact sur votre visite sont indiqués sur la gauche. Vous pouvez modifier vos paramètres à tout moment. Vos choix n’auront aucune incidence sur votre visite.</p>
<p><span class="wpgdprc-text--warning"><strong>NOTE:</strong> These settings will only apply to the browser and device you are currently using.</span></p>
			</div>
		</div>

								<div class="wpgdprc-consent-modal__description" data-target="2">
				<p class="wpgdprc-consent-modal__title wpgdprc-consent-modal__title--description">Enregistrement de vos données personnelles</p>
				<div class="wpgdprc-content-modal__content">
					<p>Les informations qui sont envoyées dans les formulaires d&#8217;informations, d&#8217;ouverture de ticket ou de demande devis sont enregistrée dans notre base de données. Ces informations ne font pas l&#8217;objet de procédure de démarcharge commercial et sont enregistrées uniquement à des fin de contact du client.</p>
				</div>
									<div class="wpgdprc-content-modal__options">
						
<div class="wpgdprc-checkbox">
	<label class="wpgdprc-switch wpgdprc-switch--column wpgdprc-switch--border" for="2">
		<span class="wpgdprc-switch__text">Enable?</span>
		<span class="wpgdprc-switch__switch">
			<input class="wpgdprc-switch__input" type="checkbox" id="2" name="2" value="2"  />
			<span class="wpgdprc-switch__slider round">
				
<span data-icon="check" class="icon--wrap">
	<svg class="icon">
		<use href=https://www.ville-kourou.fr/wp-content/plugins/wp-gdpr-compliance/Assets/icons//sprite-fontawesome-pro-regular.svg#check></use>
	</svg>
</span>
				
<span data-icon="times" class="icon--wrap">
	<svg class="icon">
		<use href=https://www.ville-kourou.fr/wp-content/plugins/wp-gdpr-compliance/Assets/icons//sprite-fontawesome-pro-regular.svg#times></use>
	</svg>
</span>
			</span>
		</span>
	</label>
</div>
					</div>
							</div>
								<div class="wpgdprc-consent-modal__description" data-target="1">
				<p class="wpgdprc-consent-modal__title wpgdprc-consent-modal__title--description">Google Analytics</p>
				<div class="wpgdprc-content-modal__content">
					<p>Enregistrement des données sur Google Analytics</p>
				</div>
									<div class="wpgdprc-content-modal__options">
						
<div class="wpgdprc-checkbox">
	<label class="wpgdprc-switch wpgdprc-switch--column wpgdprc-switch--border" for="1">
		<span class="wpgdprc-switch__text">Enable?</span>
		<span class="wpgdprc-switch__switch">
			<input class="wpgdprc-switch__input" type="checkbox" id="1" name="1" value="1"  />
			<span class="wpgdprc-switch__slider round">
				
<span data-icon="check" class="icon--wrap">
	<svg class="icon">
		<use href=https://www.ville-kourou.fr/wp-content/plugins/wp-gdpr-compliance/Assets/icons//sprite-fontawesome-pro-regular.svg#check></use>
	</svg>
</span>
				
<span data-icon="times" class="icon--wrap">
	<svg class="icon">
		<use href=https://www.ville-kourou.fr/wp-content/plugins/wp-gdpr-compliance/Assets/icons//sprite-fontawesome-pro-regular.svg#times></use>
	</svg>
</span>
			</span>
		</span>
	</label>
</div>
					</div>
							</div>
			</div>
</div>
<div class="wpgdprc-consent-modal__footer">
	<div class="wpgdprc-consent-modal__footer__information">
		<a href="https://cookieinformation.com/?utm_campaign=van-ons-go-premium&#038;utm_source=van-ons-wp&#038;utm_medium=referral" target="_blank">Powered by Cookie Information</a>
	</div>
	<button class="wpgdprc-button wpgdprc-button--secondary">Save my settings</button>
</div>
		</div>
	</div>
</div>
</body>
</html>
<!-- This website is like a Rocket, isn't it? Performance optimized by WP Rocket. Learn more: https://wp-rocket.me - Debug: cached@1662928212 -->